@media (max-width: 768px) {
    .work-content {
        flex-direction: column;
        text-align: center;
    }

    .work-image, .work-text {
        max-width: 100%;
        margin-left: 0;
    }
}