footer {
    background-color: #4A90E2;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    border-radius: 0 0 24px 24px;
    color: white;
}

.footer__left p {
    margin: 0;
    font-size: 14px;
}

.footer__right a {
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.footer__right img {
    margin-left: 5px;
}

.footer__right a:hover {
    text-decoration: underline;
}
