.hero {
    height: 90vh;
    background: radial-gradient(ellipse at 0% 100%, rgba(134, 51, 176, 0.37) 12%, rgba(71, 84, 235, 0.34) 24%, transparent 40%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 120px;
    max-width: 1280px;
}
.hero__text {
    flex: 1;
    font-size: 40px;
    display: flex;
    color: #000;
    margin-bottom: 16px;
    flex-direction: column;
}

.hero__text h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #000;
}

.hero__text form {
    display: flex;
    margin-bottom: 15px;
    justify-content: flex-start;
    gap: 10px;
}

.hero__text input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-right: 10px;
}

.hero__text button {
    background-color: #4A90E2;
    color: #fff;
    border: none;
    padding: 16px 32px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
}

.hero__text p {
    font-size: 14px;
    color: #777;
}

.scroll-down {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.scroll-down img {
    width: 24px;
    margin-right: 5px;
    animation: bounce 2s infinite;
}

.hero__image {
  display: flex;
    justify-content: center;
    width: 400px;
}
